# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
# build
*.egg-info/

# unit test / coverage reports
.pytest_cache
.coverage
.coverage.*
.cache
